
body {
    width: 90%;
    margin: auto;
    background: linear-gradient(30deg, rgb(175, 200, 100), rgb(101, 164, 226));

}

header  {
    text-align: center;

}

header h1{
    background: yellow;
}

.smalltext{
    font-size: small;

}

.preamble{
    text-align: center;
    margin-left: 40%;
    margin-right: 40%;
    background: none;

}

.story{
    text-align: center;

}

table {
    border-collapse: collapse;
    width: auto;
    margin-left: 42.5%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;

}

.storytable{
    text-align: center;
}

p {
    font-family: serif;
    font-size: large;
    color: midnightblue;
    line-height: 25px;
}

q {
    font-size: 160%;
    font-style: italic;
    background-color: lightgray;
    border-left: 3px;
    border-left-style: dashed;
    padding-left: 30px;

}

q.farmer {
    border-color: blanchedalmond;

}

q.villagers {
    border-color: brown;

}

:first-of-type p{
    font-weight: bold;

}

a.good:visited {
    color: midnightblue;

}

a.good:hover {
    color: purple;
    font-size:150%;

}

a.bad:visited {
    color: midnightblue;

}

a.bad:hover {
    color: purple;
    font-size:150%;

}

.bad {
    color: red;
    text-transform: capitalize;

}


.good {
    color: green;
    text-transform: capitalize;

}

hr {
    width: 100%;

}

blockquote {
    width: 45%;
    margin: auto;
    text-align: left;

}

a {
    color: cornflowerblue;

}
