
body {
    width: 90%;
    margin: auto;
    background: linear-gradient(30deg, rgb(175, 200, 100), rgb(101, 164, 226));

}

p {
    font-family: sans-serif;
    font-size: large;
    color: midnightblue;
    line-height: 25px;
}
q {
    font-size: 160%;
    background-color: lightgray;
    border-left: 3px;
    border-left-style: dashed;
    padding-left: 30px;

}

q.farmer {


}

q.villagers {


}
a.good:visited {
    color: midnightblue;

}

a.good:hover {
    color: purple;
    font-size:150%;

}

a.bad:visited {
    color: midnightblue;

}

a.bad:hover {
    color: purple;
    font-size:150%;

}

table {
    border-collapse: collapse;
    width: auto;

}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;

}

.bad {
    color: red;

}

.good {
    color: green;

}

hr {
    width: 100%;

}

blockquote {
    width: 45%;
    margin: auto;

}

a {
    color: cornflowerblue;

}
